@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #503414;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h2 .fa-solid {
    width: 100px;
}

.wrapper .sidebar ul li {
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    text-transform: uppercase;
}

.wrapper .sidebar ul li a {
    color: #f4f3f7;
    display: block;

}

.wrapper .sidebar ul li a .fa-solid,
.wrapper .main_content .header .fa-solid {
    width: 30px;
    margin-right: 10px;
}

.wrapper .sidebar ul li:hover {
    background: #6e350f;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 200, 150, 0.5);
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper .sidebar .social_media a:hover {
    color: rgba(255, 255, 255, 1);
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    text-align: right;
}

.wrapper .main_content .catalog_header h1 {
    margin-top: 20px;
    text-align: center;
}

.wrapper .main_content .catalog_header hr {
    margin-top: 10px;
    opacity: 0.2;

}

.wrapper .main_content .catalog {
    margin: 20px;
    color: #717171;
    line-height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 500px;
}

.wrapper .main_content .catalog .menu_item {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.wrapper .main_content .catalog .menu_item .meal_img {
    padding: 2%;
    border-radius: 20%;
}

.wrapper .main_content .catalog .menu_item .meal_name {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.wrapper .main_content .catalog .menu_item .submit {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 30%;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px;
    color: black;
}

[data-md-tooltip] {
    position: relative;
}

[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #616161e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

[data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
}

[data-md-tooltip].md-tooltip--right:before {
    left: auto;
    right: -10px;
    bottom: auto;
    top: 50%;
    transform: translate(100%, -50%) scale(0);
    transform-origin: left center;
}

[data-md-tooltip].md-tooltip--right:hover:before {
    transform: translate(100%, -50%) scale(1);
}

#price {
    font-weight: 300;
    font-size: larger;
    padding: 10px;
}