{% from "utils.html" import render_field %}
{% extends "layout.html" %}
{% block header %}
<h1> {{ title }} </h1>
{% endblock header %}
{% block content %}
{% for meal in cart %}
    <div class="menu_item">
        {% set file = 'pics/'+meal.meal+'.png'%}
        {% set tooltipinfo = 'Protein: '+meal.protein|string+
                                    ' | Fat: '+meal.fat|string+
                                    ' | Carbs: '+meal.carbs|string+
                                    ' | Calories: '+meal.calory|string %}
        <img src="{{url_for('static', filename=file)}}" alt="" class="meal_img">
        <p>
        <h2 class="meal_name">{{ meal.meal }}</h2>
        <i class="material-icons md-tooltip--right" data-md-tooltip="{{tooltipinfo}}">info</i>
        </p>
        <p id="price">${{ meal.price }}</p>

        <form method="POST" action="">
            <input type="hidden" name="meal_id" value="{{ meal.id }}"></input>
            <input class="submit" type="submit" name="submit" value="Add to cart{{ request.form['submit'] }}"></input>
        </form>
    </div>
{% endfor %}
{% endblock content %}
