{% extends "layout.html" %}
{% block header %}
    <h1> {{ title }} </h1>
{% endblock header %}
{% block content %}
{% for meal in menu %}
    <div>
        {% set file = 'pics/'+meal.meal+'.png'%}
        <img src="{{url_for('static', filename=file)}}" alt="">
        <p>Name: {{ meal.meal }}</p>
        <p>Type: {{ meal.type }}</p>
        <p>Price: {{ meal.price }}</p>
        <p>Proteins: {{ meal.protein }}</p>
        <p>Fat: {{ meal.fat }}</p>
        <p>Carbohydrates: {{ meal.carbs }}</p>
        <p>Calories: {{ meal.calory }}</p>
    </div>
{% endfor %}
{% endblock content %}